
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    padding:1rem;
    margin-bottom:2rem;
    background-color:#f3e9f1;
}
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin:auto;
    font-size: 12px;
}
#main-product{
    border: black 1px solid;
    padding: 2rem;
}
.logo{
    height:8rem;  
}
.fa-shopping-basket{
    font-size: 2rem;
    color:rgb(156, 113, 235);
    margin-right:2rem;
    text-align: center;
}
.cart__title{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
h1{
    margin:0;
}
h2{
    font-size: 1.5rem;
}
.card__link{
    width:33%;
}
.product{
    border: black 1px solid;
    padding: 2rem;
    margin: 1rem ;
}
.product__name{
    margin-top:0;
}
.product__description{
    margin-bottom:0;
    font-size: 1rem;
}
.product__img{
    width:100%;
}
.price{
    font-weight:bold;
    font-size:1.2rem;
}

.camera{
    display: flex;
    border: black 1px solid;
    padding: 2rem;
}
.camera__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem;
}
.camera__name{
    padding:0rem 0rem 1rem 0rem;
    font-size: 2rem;
    font-weight:100;
}
.camera__description{
    margin-bottom:1rem;
    font-size: 1rem;
}
.camera__img{
    width:50%;
    object-fit: cover;
}
.camera__price{
    font-weight:600;
    font-size:1.2rem;
    margin-top:2rem;
}
#camera__lens{
    padding:0.5rem;

}
.addcart__button{
    margin-top: 1rem;
    font-weight: bold;
    border:0;
    padding:1rem;
}
#main-basket{
    display: flex;
    flex-direction: column;
}
#main-confirm{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
#main-confirm p{
    margin-top:1rem;
    font-size: 1.2rem;
}
#basket-content{
    width:100%;
}
#basket-products{
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    background: rgba(233, 233, 233, 0.993);
    max-width: 100%;
}
.basket_title{
    flex: 1 1 auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    background-color: rgb(184, 184, 184);
}
#basket-products div{
    text-align: center;
    width:100%;
}
#product_sections{
    font-size: 1rem;
    font-weight: bold;
    margin-top:2rem;
    display:flex;
    justify-content: space-evenly;
    background: lightgrey;
    flex: 1 1 auto;
}

.product_title{
    display:flex;
    justify-content: center;
    flex-direction:column;
    flex: 1 1 auto;
    text-align: center;  
}
.product_title div{
    padding:0.5rem;
}
.grp-price-clear{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom:2rem;
}
#basket-price{
    display:flex;
    width:100%;
    padding:1rem;
    font-size: 1rem;
    font-weight:bold;
    background: rgb(150, 150, 150);
}
#total__title{
    width:70%;
    text-align: center;
}
#total__price{
    text-align: right;
    width:18%;
    margin-right:8%;
}
#form{
    display: flex;
    flex-wrap:wrap;
    width:100%;
}
#form div{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:0.5rem 1rem 0rem 0rem;
}
#form input{
    padding:0.3rem;
    margin-top: 0.5rem;
}

#clear-basket{
    margin-top:1rem;
    align-self:flex-end;
}
#btn-commande {
    flex-basis:100%;
    margin-top:1rem;
    border:none;
    padding:0.5rem;
}
.btn-clear{
    border:none;
    padding:0.5rem;
}
#btn-commande:hover,.btn-clear:hover{
    background: rgb(200, 200, 200);
}
#main-home {
    display:flex;
}
#basket-products{
    margin-top:1rem;
}
@media screen and (max-width: 1050px) {
    .card__link{
        width:50%;
    }
}
@media screen and (max-width: 850px) {
    #main-home{
        flex-direction: column;
    }
    .card__link{
        width:100%;
    }
    .camera{
        flex-direction: column;
        padding: 0;
    }
    .camera__img{
        width:100%;
    }
    .addcart__button{
        width:100%;
    }
}
@media screen and (max-width: 450px) {
    .logo{
        height: 5rem;
    }
    .fa-shopping-basket{
        font-size: 1.5rem;
        margin-right:0.5rem;
    }

    main{
        max-width:90%;
    }
    #main-product{
        padding:0;
        border:none;
    }

}